@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model StudentPortal.Models.AddCourseViewModel


@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Sucess!</strong> @TempData["AlertMessage"]
    </div>
}

<form class="Join" method="post">
    <h2>ADD COURSE</h2>
    <div class="super">
  @*   <div class="col-md-6">
        <label for="inputCourse" class="form-label">Course ID</label>
        <input type="number" class="form-control" id="sid" asp-for="CourseID" required/>
    </div> *@
    <div class="col-md-4">
        <label for="inputCourseName" class="form-label">COURSE NAME</label>
        <input type="text" class="form-control" id="fname" asp-for="CourseName" placeholder="Enter Course Name" required/>
            @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
    </div>
    <br />
    <div>
        <button type="submit" class="btn btn-primary">ADD</button>
    </div>
    </div>
</form>
