@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model StudentPortal.Models.Entities.Student

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Sucess!</strong> @TempData["AlertMessage"]
    </div>
}

@if (Model is null)
{
    <p>No student was found with this ID</p>
}
else
{
 
<form class="editstu row g-3" method="post">
    <div>
        <h2>EDIT STUDENT</h2>
        </div>
    <div class="col-md-6">
            
        <label for="inputName" class="form-label">STUNDENT ID</label>
        <input type="number" class="form-control" id="sid" asp-for="StudentID" readonly/>
    </div>
    <div class="col-md-6">
        <label for="inputFirstName" class="form-label">FIRST NAME</label>
        <input type="text" class="form-control" id="fname" asp-for="FirstName" required/>
    </div>
    <div class="col-md-6">
        <label for="inputLastName" class="form-label">LAST NAME</label>
        <input type="text" class="form-control" id="lname" asp-for="LastName" required/>
    </div>
    <div class="col-md-6">
        <label for="inputEmail" class="col-sm-2 col-form-label">EMAIL ADDRESS</label>
       @*  <div class="col-sm-10"> *@
            <input type="email" class="form-control" id="Email" asp-for="Email" />
        @* /div> *@
    </div>
    <p> </p>
    <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">GENDER</legend>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Gender" id="gridRadios1" value="Male" required>
                <label class="form-check-label" for="gridRadios1">
                    Male
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Gender" id="gridRadios2" value="Female" required>
                <label class="form-check-label" for="gridRadios2">
                    Female
                </label>
            </div>

        </div>
    </fieldset>
    <div class="col-md-6">
        <label for="inputPhone" class="form-label">PHONE NO.</label>
            <input type="tel" class="form-control" id="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" title="Enter 10 digits for Phone Number"
            asp-for="PhoneNumber" required>
    </div>
    <div class="col-md-6">
        <label for="inputAddress" class="form-label">ADDRESS</label>
        <input type="text" class="form-control" id="address" asp-for="Address" required/>
    </div>
    <div class="col-md-4 align-content-center">
        <label for="inputBirth" class="form-label">BIRTH DATE</label>
        <input type="date" class="form-control" id="indate" asp-for="BirthDate" required/>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary align-content-between">SAVE</button>
    
        <button type="submit" class="btn btn-danger ms-3 align-content-md-between" asp-action="Delete" asp-controller="Students">DELETE</button>
      </div>     
</form>
}

