@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model StudentPortal.Models.AddGradeViewModel


@using (Html.BeginForm("Addgrade","Grades", FormMethod.Post))
{


@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Sucess!</strong> @TempData["AlertMessage"]
    </div>
}

<div class="grade text-center">
    <h2> GRADE STUDENTS</h2>
<form class="gradess row g-3" method="post">
    @* <div class="col-md-6">
        <label for="inputGrades" class="form-label">Grade ID</label>
        <input type="number" class="form-control" id="gid" asp-for="GradeID" required />
    </div> *@
    <div class="col-md-6">
        <label for="inputSID" class="form-label">STUDENT ID</label>
        <input type="number" class="form-control" id="sid" asp-for="StudentID" required />
    </div>

        <div class="col-md-6">
            <label for="inputCID" class="form-label">COURSE ID</label>
            <input type="number" class="form-control" id="cid" asp-for="CourseID" required />
        </div>


    <div class="col-md-6">
        <label for="inputScore" class="form-label">SCORE</label>
        <input type="number" class="form-control" id="score" asp-for="Score" required />
    </div>
    <br />

    <div>
        <button type="submit" class="btn btn-primary">SAVE</button>
    </div>
</form>
</div>
}
