@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model StudentPortal.Models.Entities.Grade



@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Sucess!</strong> @TempData["AlertMessage"]
    </div>
}

@if (Model is null)
{
    <p>This ID was not found</p>
}

else
{

   
    <form class="editform" method="post">
        <h2> EDIT SCORES</h2>
        
        <div class="col-md-4">
            <label for="inputGrades" class="form-label">GRADE ID</label>
            <input type="number" class="form-control" id="gid" asp-for="GradeID" readonly/>
       </div>
        <div class="col-md-4">
            <label for="inputSID" class="form-label">STUDENT ID</label>
            <input type="number" class="form-control" id="sid" asp-for="StudentID" readonly/>
        </div>
        
        <div class="col-md-4">
            <label for="inputCID" class="form-label">COURSE ID</label>
            <input type="number" class="form-control" id="cid" asp-for="CourseID" required />
        </div>
        
        <div class="col-md-4">
            <label for="inputScore" class="form-label">SCORE</label>
            <input type="number" class="form-control" id="score" asp-for="Score" required />
        </div>
        <br />
        <br />
        <div>
            <button type="submit" class="gradebtn btn btn-primary">SAVE</button>
          <button type="submit" class="gradebtn btn btn-danger ms-3" asp-action="Delete" asp-controller="Grades">DELETE</button> 
        </div>
    </form>
    
}