@{
    ViewData["Title"] = "Home Page";
}


<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="index">
        <h1>UNIVERISTY OF WAYNEMANOR</h1>
    </div>
    <div class="carousel-inner">
        <div class="img2 carousel-item active" data-bs-interval="10000">
            <img src="./sass/image2.jpg" class="img2 d-block img-thumbnail" alt="Diverse Community">
        </div>
        <div class="img5 carousel-item" data-bs-interval="10000">
            <img src="./sass/image5.jpg" class="img5 d-block  img-thumbnail" alt="Public Libraries">
        </div>
        <div class="img4 carousel-item">
            <img src="./sass/image4.jpg" class="img4 d-block img-thumbnail" alt="Professor's at work">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    
</div>



