@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>
<br />
<br />
<form>
<div class="mave">
<div class="mb">
    <label for="Input" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb">
    <label for="Input" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
</div>
</form>

@* <div id="Privacyform" class="privacy">
    <form class="coolform">
        <h3>ENTER INFORMATION</h3>
   <div class="changepriv">
       <div>
       <label for="thisform" class="form-label">FIRST NAME</label>
         <input type="text" class="let" placeholder="First Name"/>
            <label for="thisform" class="form-label">LAST NAME</label>
            <input type="text" class="let" placeholder="Last Name" />
            </div>
            <div>
            <label for="thisform" class="form-label">EMAIL ID</label>
            <input type="email" class="let" placeholder="example:username@wayne.edu" />
            <label for="thisform" class="form-label">PHONE NUMBER</label>
            <input type="number" class="let" placeholder="Last Name" />
</div>
</div>
<button type="submit" class="btn btn-primary">Save</button>
    </form>
</div> *@

<!-- Modal -->
@* <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hello, How are you?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> *@