@{
    ViewData["Title"] = "PRIVACY POLICY";
}

<div class="privacy">
    <h2>@ViewData["Title"]</h2>
<p>Your privacy is important to us. It is StudentPortal's policy to respect your privacy regarding any information we may collect from you across our website and other sites we own and operate.</p>
<p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.</p>
<p>We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, use, or modification.</p>
<p>We don’t share any personally identifying information publicly or with third-parties, except when required to by law.</p>
<p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.</p>
<p>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>
<p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p>
<p>This policy is effective as of 04/29/2024.</p>
</div>
<!-- Button trigger modal -->
@* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>
<br />
<br />
<form>
<div class="mave">
<div class="mb">
    <label for="Input" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb">
    <label for="Input" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
</div>
</form> *@

@* <div id="Privacyform" class="privacy">
    <form class="coolform">
        <h3>ENTER INFORMATION</h3>
   <div class="changepriv">
       <div>
       <label for="thisform" class="form-label">FIRST NAME</label>
         <input type="text" class="let" placeholder="First Name"/>
            <label for="thisform" class="form-label">LAST NAME</label>
            <input type="text" class="let" placeholder="Last Name" />
            </div>
            <div>
            <label for="thisform" class="form-label">EMAIL ID</label>
            <input type="email" class="let" placeholder="example:username@wayne.edu" />
            <label for="thisform" class="form-label">PHONE NUMBER</label>
            <input type="number" class="let" placeholder="Last Name" />
</div>
</div>
<button type="submit" class="btn btn-primary">Save</button>
    </form>
</div> *@

<!-- Modal -->
@* <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hello, How are you?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> *@